.header{
display: flex;
align-items: center;
height: 100px;
width: 100vw;
background-color: var(--fundo);
font-family: var(--fontes);
position:sticky;

}

.navbar{
display: flex;
align-items: center;
flex:70%;

}

.links a{
text-decoration: none;
color: var(--branco);
margin-left: 1em;
font-weight: bold;
}

.links a:hover{
color: var(--neon);
text-shadow: 1px 1px #fdfdfd33;
}

.logo{
margin-left:3em;
}

.newsletter{
justify-content: flex-end;
margin-left: 1em;
margin-right:3em;
}

.newsletter a{
background-color: var(--neon);
border-radius: 5px;
padding: 1em;
align-items: center;
text-shadow: 1px 1px #00000033;
font-weight: bold;
}

.newsletter a:hover{
background-color: var(--branco);
}

.botaonavbar{
display: none;
}

.hidden-newsletter{
display:none;
}


@media only screen and (max-width: 860px){
.header{
height: 80px;
}

.links a{
margin-left: 0.9em;
font-size: 0.9em;
}

.logo{
margin-left: 2em;
}

.newsletter{
margin-right: 2em;
}
}

@media only screen and (max-width: 760px){
.links, .newsletter{
display: none;
}
.hidden-newsletter{
display:flex;
}

.hidden{
display: flex;
flex-direction:column;
align-items: center;
position: absolute;
left:0px;
top:80px;
height: auto;
width: 100vw;
background-color: var(--fundo);
}

.hidden a{
padding: 0.5em;
}

.hidden a:hover{
background-color: var(--cinza);
text-align: center;
width: 100vw;
}

.botaonavbar{
display: flex;
background-color: var(--neon);
color: var(--branco);
border: none;
border-radius: 5px;
margin-right: 3em;
padding:5px ;
}
}

