h1{
    color: #F5F5F5;
}
.AboutContainer{
    background-color:#0B0B0B;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.ContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.CardsContainer{
    display: flex;
    margin-top: 20vh;
    flex-direction: row;
    justify-content: center;
}

@media(max-width: 1440px){
    .CardsContainer{
        margin-left: 10vw;
    }
}
@media(max-width: 1024px){
    .CardsContainer{
        margin-bottom: 10vw;
    }
}
@media(max-width: 900px){
    .CardsContainer{
        display: flex;
        margin-top: 20vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .AuxContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


