:root{
--fundo: #0B0B0B;
--cinza: #151515;
--branco:#FAFAFA;
--neon:  #ee5508;
--fontes: 'Roboto', Arial, Helvetica, sans-serif;
}


body {
  background-color: #0B0B0B;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
